romm:
  username:
  password:
  host: https://demo.romm.app

theme:
  font_path: "assets/fonts/DejaVuSans.ttf"
  title_color: "#F1F3E0"
  title_background_color: "#778873"
  title_font_size: 24
  title_line_color: "#F1F3E0"
  title_line_width: 2
  background_color: "#778873"
  text_color: "#F1F3E0"
  list_selected_text_color: "#F1F3E0"
  list_selected_text_background_color: "#A1BC98"
  list_text_font_size: 18
  list_background_color: "#778873"
  footer_text_font_size: 18
  footer_text_color: "#F1F3E0"
  footer_line_color: "#F1F3E0"
  footer_background_color: "#778873"
  image_background_color: "#D2DCB6"
  text_background_color: "#778873"
  text_padding: 5

system:
  max_fps: 120
  show_fps: true
  tmp_path: "var/tmp"
  cache_path: "var/cache"
  db_path: "var/db.db"
  download_queue_timeout_seconds: 120
  roms_path: "/roms"
  sync_save_states: true
  save_states_path: "/roms/savestates"

platform_folder_mapping:
  genesis-slash-megadrive: genesis
  pico: pico-8